<div data-controller="ed">
  <label for="name-input">Name:</label>
  <input type="text" id="name-input" data-action="input->ed#toggleButton" >

  <button data-action="click->ed#submit"  data-ed-target="button" disabled>Submit</button>
</div>
