 <h1>Checkbox</h1>



  <div data-controller="checkbox-all">
  <input type="checkbox" id="all" data-checkbox-all-target = "parent" data-action = "checkbox-all#togglechild">
  <label for="all">select all</label>
    <br>
  <input type="checkbox" id="v1" data-checkbox-all-target = "child" data-action = "checkbox-all#toggleparent">
  <label for="v1">mohsin</label>
    <br>
  <input type="checkbox" id="v2" data-checkbox-all-target = "child" data-action = "checkbox-all#toggleparent">
  <label for="v2"> haider</label>
    <br>
  <input type="checkbox" id="v3" data-checkbox-all-target = "child" data-action = "checkbox-all#toggleparent">
  <label for="v3"> ruby</label>

</div>
