  <div data-controller = "dropdown">
  <h1>welcome</h1>


<button data-action = "dropdown#toggleButton">toggler button</button>

<%# <button type="button" data-action = "dropdown#openDropdown" data-dropdown-target = "openButton">Open</button>
<button type="button" data-action = "dropdown#closeDropdown" data-dropdown-target = "closeButton">Close</button> %>

 <div data-dropdown-target = "dropdownContent">
<p >hi there i am using whatsapp</p>
</div>

</div>