<form data-controller="form">
  <label>Name</label>
  <input type="text" name="name" data-form-target="name"><br><br>
  <label>Course</label>
  <input type="text" name="user" data-form-target="course"><br><br>
  <button type="submit" data-action="form#submit">Submit</button>
</form>
